%div{class: "ui container"}
  %h1
    シュゲパ！
    = @greeting
  %div{class: "ui grid"}
    %div{class: "eleven wide column"}
      %div{class: "ui grid"}
        %div{class: "four wide column"}
          %div{class: "ui secondary vertical menu top-left-menu"}
            %div.header XXXX関連サービス
            %a.item みんなのレシピ
            %a.item プロのレシピ
            %a.item アトリエ
            %a.item 動画
            %a.item 倶楽部
            %a.item 話題のレシピ
            %div.header プレミアムサービス
            %a.item 人気順検索
            %a.item レシピランキング
            %a.item 殿堂入りレシピ
            %a.item 専門家厳選レシピ
            %a.item プレミアムレシピ
            %div.header 生活関連サービス
            %a.item 玄関先
            %a.item 机の上
            %a.item 壁
            %a.item ベビー
            %a.item 質問・掲示板
            %a.item 結婚式
            %a.item おでかけ
        %div{class: "twelve wide column"}
          = image_tag 'image.png', class: 'ui fluid image'
          %div{class: "recipe-description"}
            %div{class: "ui orange inverted segment left floated"} おすすめ
            %div{class: "recipe-title"} ✿XXXXのXXXX☆XXXXXXX✿
            %div
              = image_tag 'image.png', class: 'ui mini spaced image'
              shugepad
          %div{class: "ui items"}
            %div{class: "item"}
              %div{class: "ui small image"}
                = image_tag 'image.png', class: 'ui mini spaced image'
              %div{class: "content"}
                %div{class: "header"} フランスの巨匠に教わるXXXXXXX
                %div{class: "description"}
                  %p 自己流のXXXXXXXもいいけれど、フランスの師匠に教わる自宅で伝統号芸品の作り方を紹介します！
            %div{class: "item"}
              %div{class: "ui small image"}
                = image_tag 'image.png', class: 'ui mini spaced image'
              %div{class: "content"}
                %div{class: "header"} フランスの巨匠に教わるXXXXXXX
                %div{class: "description"}
                  %p 自己流のXXXXXXXもいいけれど、フランスの師匠に教わる自宅で伝統号芸品の作り方を紹介します！
    %div{class: "five wide column"}
      %div{class: "ui medium rectangle ad"}
        = image_tag 'image.png', class: 'ui fluid image'
        %script
          (adsbygoogle = window.adsbygoogle || []).push({});
      %div{class: "ui secondary vertical menu top-left-menu"}
        %div.header 毎週更新！おすすめ特集
        %a.item 秋の簡単アレンジ！
        %a.item 忙しい朝に簡単♪
        %a.item 使える！即興品
        %a.item 簡単♪気軽に作れる
        %a.item 鉛筆削りを作ろう♪
        %a.item 簡単おしゃれ！新麦わら帽子
        %a.item 簡単！靴でアレンジレシピ
        %a.item ユーザー発！魅惑のTシャツ
        %a.item 家族絶賛♪おもてなしな一品
        %a.item ハートフルで大人の壁掛け
